*{
margin: 0;
padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #573010;
}

.white {
  background-color: #e5c696;

}

.selected {
  background-color: red;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;

}

.title {
  color: rgb(102, 8, 8);
  justify-content: center;
  align-items: center;
  position: relative;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgrey;
}